.banner {
  min-height: 1000px;
  padding: 150px 0;
  gap: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  background-image: url("../assets/bnt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.box-banner{
  display:flex;
  flex-direction: column;
  margin: 30px;
}

.texto-banner {
  color: white;
  font-size: 5.0rem;
  margin-bottom: 15px;
}

/* Efeito visual no texto do banner */
@keyframes pulo {  
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  60% {
    transform: translateY(-10px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

/* Efeito visual no texto do banner */
.texto-banner h1 {
  animation: pulo 0.9s ease-out;
  font-size: 5rem;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  text-align: center;
}

.imagem-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem-banner img{
  width: 100px;
  height: 100px;
}