.banner {
  height: 100vh;
  padding: 0 10%;
  background: linear-gradient(to bottom, #f8f8f8, #101e30);
  

  font-family: 'Poppins', sans-serif;

  display: flex;
  align-items: center;
}

.banner img {
  width: 25px;
  height: 25px;
}

.banner-content  {
  color: white; 
  max-width: 600px;
  margin-left: 120px;
}

.banner-content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  animation: pulo 0.9s ease-out;
}

.banner-content h3 {
  font-size: 36px;
  font-weight: 700;
}

.banner-content p {
  font-size: 16px;
  margin: 20px 0 40px;
}

.btn-banner a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:"Nunito", sans-serif;

  width: 200px;
  height: 40px;
  background-color: #25D366;
  border: 1px solid #25D366;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 800;
  text-decoration: none;
  color: rgb(7, 5, 5);
  z-index: 1;
  overflow: hidden;
}

.btn-banner a::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  background-color: #157A54;
  transform: scale(1.05);
  transition: .5s;
}

.btn-banner a:hover::before{
  width: 100%;
}

.btn-banner a:hover{
  transition: .5s;
  border: 1px solid #ffffff;
  color: rgb(253, 255, 253);

}

/* Efeito visual no texto do banner */
.banner-content h1, .banner-content h3, .banner-content p, .btn-banner a {
  animation: pulo 0.9s ease-out;
}


@keyframes pulo {  
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  60% {
    transform: translateY(-10px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}



.retrato-banner {
  flex: 1;
  display: flex;
  justify-content: center; 
  align-items: center; 
  
}

.retrato-banner img{
  
  border-radius: 50%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.retrato-banner img {
   width: 500px !important;
  height: auto !important;
  object-fit: contain;
  
}
