/* Estilização sobre Área de atuação */
:root {
  --cor-primaria: #0e1a2b;
  --cor-secundaria: #e7c362;
  --cor-destaque: #d4a533;
  --cor-fundo: #1a1a1a;
  --cor-texto: #ffffff;
  --cor-card: #101e30;
  --primary-color: hsl(var(--hue), 100%, 26%);
}

.titulo-card {
  max-width: 700px;
  text-align: center;
  margin-bottom: 60px;
}

.titulo-card h1 {
  font-size: 50px;
  color:#ececec;
  margin-bottom: 20px;
}

.titulo-card p {
  font-size: 16px;
  color: var(--cor-texto);
  line-height: 1.5;
}


.sessao-card-atuacao {
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #000000, #202020, #030202); 
}

.box-card {
  display: flex;
  flex-wrap: wrap;
}

.card-atuacao {
  width: 220px;
  height: 390px;
  margin: 20px;
  padding: 20px;
  background: transparent;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  border-radius: 10px;
  border: 1px solid rgba(192, 192, 192, 0.7);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card-atuacao:hover {
  transform: translateY(-25px);
  box-shadow: 0 0 30px rgba(192, 192, 192, 0.5);
}

.card-atuacao img {
  width: 100px;
  height: 100px;
  align-items: center;
  margin-bottom: 20px;
  ;
}

.card-atuacao h3 {
  font-family: 'Playfair Display', serif;
  font-size: 2.0rem;
  font-weight: 600;
  text-align: center;
}

.card-atuacao p {
  font-size: 14px;
  color: #ccc;
  padding: 8px;
  text-align: center;
}

.card-atuacao a {
  background: linear-gradient(90deg, #E0E0E0, #C0C0C0, #A0A0A0, #C0C0C0, #E0E0E0);
  color: var(--cor-card);
  text-decoration: none;
  padding: 5px 30px;
  border-radius: 10px;
  font-size: 1.2rem;
  margin-top: 8px;
  opacity: 0.9;
  font-family: 'Playfair Display', serif;
}