/* Container geral da seção */
.sessao-formulario-wpp {
  padding: 120px 20px;
  background: linear-gradient(to bottom, #000000, #202020, #030202); 
  display: flex;
  justify-content: center;

}

/* Flex entre formulário e caixa de contato */
.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  align-items: flex-start;
  max-width: 1000px;
  width: 100%;
}

/* Formulário */
.form-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.form-container h2 {
  margin-bottom: 20px;
  color: #0e1a2b;
  text-align: center;
}

/* Inputs */
#form-whatsapp-envio input,
#form-whatsapp-envio textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: border 0.3s, box-shadow 0.3s;
}

#form-whatsapp-envio input:focus,
#form-whatsapp-envio textarea:focus {
  border-color: #e7c362;
   box-shadow: 0 0 30px rgba(231, 195, 98, 0.4);
  outline: none;
}

/* Botão */
#form-whatsapp-envio button {
  width: 100%;
  padding: 12px;
  background-color: #e7c362;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#form-whatsapp-envio button:hover {
  background-color: #e7c362;
}

/* Caixa de contato direto */
.caixa-contato-direto {
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 12px;
  max-width: 350px;
  width: 100%;
  color: #0e1a2b;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.caixa-contato-direto h3 {
  margin-bottom: 20px;
  font-size: 20px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  
}

.caixa-contato-direto p {
  margin-bottom: 15px;
  font-size: 16px;
}

.caixa-contato-direto a {
  text-decoration: none;
  color: #e7c362;
  font-weight: bold;
  transition: color 0.3s;
}

.caixa-contato-direto a:hover {
  color: #e7c362;
}


form select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 16px;
  background-color: white;
  color: #333;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #333;
}

.subtitulo-contato {
  font-size: 1rem;
  color: #333;
  margin-bottom: 20px;
}


.linha-contato {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 12px;
  font-size: 16px;
}

.icone {
  font-size: 20px;
}

ul{
  margin-left: 20px;
}

.fechado {
  color: red;
}

.redes-sociais {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}

.redes-sociais a {
  color: #0e1a2b;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s;
}

.redes-sociais a:hover {
  color: #e7c362;
}

