@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Header */
header {
  font-family: "Nunito", sans-serif;
  font-weight: 800;

  background: linear-gradient(to bottom, #f8f8f8);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.card-titulo {
  display: flex;
  align-items: center;
  font-family:'Open Sans', sans-serif;
}

.imagem-titulo img {
  width: 85px;
  height: auto;
}

.texto-titulo a {
  color: rgb(3, 3, 3);
  text-decoration: none;
}

.texto-titulo h1 {
  font-size: 20px;
  margin-bottom: 4px;
  color: #000000
}

.texto-titulo p {
  font-size: 15px;
  font-weight: 450;
  color: #000000;
}

/* Navegação de menu */
.topo-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 10px;
}

.topo-menu a {
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  transition: color 0.3s;
  
}

.topo-menu {
  transition: transform 0.3s, box-shadow 0.3s;
}

.topo-menu a:hover{
  transition: 0.3s ease;
  transform: translateY(-2px);
}


.whatsapp-btn a {
    background-color: #25D366;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    transition: 0.5s ease;
    overflow: hidden;
    
}

.whatsapp-btn:hover {
  background-color: #157A54;
  border: none;
  color: azure;
  transform: translateY(-2px);
}

.whatsapp-btn a:hover{
  color: aliceblue;
}