
.mapa-container {
   padding: 25px;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin-top: 30px;
}

.mapa-container h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #222;
}


.rodape {
  background: linear-gradient(to right, #0e0e1a, #0e1a2b);
  color: #ccc;
  padding: 30px 20px;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 40px;
}

.rodape-conteudo p {
  margin: 5px 0;
}

.rodape strong {
  color: #fff;
}

