* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

header {
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;


}


.card-titulo {
    display: flex;
}

.texto-titulo a {
    text-decoration: none;
    margin: 0px 10px;
    font-size: 20px;
    font-weight: 400;
}

.imagem-titulo img {
    width: 109px;
    height: 89px;
}


.topo-menu {
    display: flex;
    margin-top: 20px;   
}

.topo-menu a {
    padding: 15px;
    margin: 10px;
    font-size: 23px;
    font-weight: 400;
   
    text-decoration: none;
}

.whatsapp-btn {
    align-items:flex-end;
    padding: 15px;
    border-radius: 25px 25px 10px;
    background-color: rgb(43, 255, 1);
}