/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonte principal */
body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #111111, #2c2c2c, #444444);
  color: #fff;
  min-height: 100vh;
}


/* Header */
header {
  width: 100%;
  background-color: rgba(17, 17, 17, 0.85);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  padding: 15px ;
  
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.card-titulo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.imagem-titulo img {
  width: 80px;
  height: auto;
}

.texto-titulo a {
  color: white;
  text-decoration: none;
}

.texto-titulo h1 {
  font-size: 20px;
  margin-bottom: 4px;
  color: #e7c362
}

.texto-titulo p {
  font-size: 15px;
  font-weight: 450;
  color: #eee;
}

/* Navegação */
.topo-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 10px;
}

.topo-menu a {
  color: white;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  transition: color 0.3s;
}

.topo-menu a:hover {
  color: #e7c362;
}

/* Botão WhatsApp */
.whatsapp-btn {
  color: white;
  background-color: #25d366;
  padding: 05px 20px;
  border-radius: 10px ;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.whatsapp-btn:hover {
  background-color: #1ebc59;
}

/* Seções */
main section {
  padding: 60px 20px;
}

.banner{
  height: 700px;
  margin: 0;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url("/assets/design-de-interiores-de-uma-arquitetura-antiga.jpg");
  background-size: cover;
  background-position: center;
    filter: blur(2px);
  z-index: 0;
}


.box-banner{
  display:flex;
  flex-direction: column-reverse;

}

  .texto-banner {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 5.0rem;
}

@keyframes pulo {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  60% {
    transform: translateY(-10px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

.texto-banner h1 {
  animation: pulo 0.9s ease-out;
  font-size: 5rem;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  text-align: center;
}

.imagem-banner {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem-banner img{
  width: 100px;
  height: 100px;
}

footer {
  background-color: #1a1a1a;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #aaa;
}





/* Responsivo */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .topo-menu {
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }

  .card-titulo {
    flex-direction: column;
    align-items: flex-start;
  }

  .texto-titulo h1 {
    font-size: 20px;
  }
}

/*Botao Whatsapp*/
.botao-wpp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  padding: 12px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  z-index: 9999;
  transition: transform 0.2s ease;
}


/*Forumulário*/
.form-fixo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 320px;
  background: linear-gradient(135deg, #1e1e1e, #333);
  color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(209, 203, 203, 0.5);
  z-index: 9998;
}

.form-header h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #fff;
}

.form-fixo input,
.form-fixo textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e9e7e7;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 14px;
}

.form-fixo textarea {
  resize: vertical;
  min-height: 80px;
}

.form-fixo button {
  background-color: #25d366;
  color: white;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-fixo button:hover {
  background-color: #1ebc59;
}
